.nav {
  padding: 5.5rem 5.563rem 4.8rem 15.536rem;
  background-color: $color-purple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @include respond(phone) {
    padding: 2rem;
  }
  .nav__links {
    display: flex;
    gap: 6rem;
    @include respond(phone) {
      gap: 2rem;
    }
    .links__link {
      font-size: 2.8rem;
      font-weight: 500;
      line-height: 45px;
      &:hover,
      &:focus {
        text-decoration-line: underline;
        font-weight: 700;
      }
    }
  }

  .nav__burger {
    height: 3.6rem;
    background-color: transparent;
    display: grid;
    place-items: center;
    cursor: pointer;

    .bar {
      display: inline-block;
      width: 4.337rem;
      height: 0.3rem;
      background-color: $color-white;
      position: relative;
      transition: $transition-2;
      z-index: 5;
    }
    .active__line--1 {
      transform: translateY(12px) rotate(45deg) !important;
    }
    .active__line--2 {
      visibility: hidden;
    }
    .active__line--3 {
      transform: translateY(-12px) rotate(-45deg) !important;
    }
  }
  .burger__menu {
    padding: 3.3rem 6.45rem 5.7rem 6.45rem;
    width: 45.1rem;
    height: 50rem;
    background-color: $color-primary;
    border: 1px solid $color-green-border;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;

    .menu__links {
      display: flex;
      flex-direction: column;
      gap: 3.9rem;
      margin-bottom: 5.5rem;
      @include respond(phone) {
        margin-bottom: 1rem;
        gap: 3rem;
      }
      .links__link {
        font-size: 2.8rem;
        font-weight: 500;
        line-height: 45px;
        &:hover,
        &:focus {
          text-decoration-line: underline;
          font-weight: 700;
        }
      }
    }
    .menu__btn {
      text-align: center;
    }
  }
}
.active {
  visibility: visible !important;
}
