 .btn {
    padding: 1.5rem 2.5rem;
    background-color: $color-secondary;
    color: $color-white;
    font-size: 2.4rem;
    line-height: 2.8rem;
    border: none;
    outline: none;
    border-radius: 2.5rem;
    }