//header title
.title {
  font-size: 4.5rem;
  font-weight: 700;
}

.subtitle {
  font-size: 3rem;
  font-weight: 600;
  line-height: 4.5rem;
}
.subtitle--bottom {
  font-size: 2.8rem;
  font-weight: 500;
}

.block2__subtitle,
.block3__subtitle {
  text-align: center;
  margin-bottom: 4rem;
}

.popUpBottom__subtitle {
  text-align: center;
  margin-bottom: 0.9rem;
}
